<div *ngIf="!serverUrl"
     style="display: flex; flex-direction: column; min-height: 100vh; justify-content: center; align-items: center">
  <h1>BFast::Database</h1>
  <mat-form-field appearance="outline" style="width: 300px">
    <mat-label>Server Url</mat-label>
    <label>
      <input matInput type="text" [formControl]="serverUrlFormControl">
    </label>
    <mat-error>Field required and must be a valid url</mat-error>
  </mat-form-field>
  <button (click)="addServerUrl()" style="height: 48px; width: 250px; font-size: 20px;" color="primary"
          mat-raised-button>
    CONTINUE
  </button>
</div>

<div style="min-height: 100vh;" *ngIf="serverUrl">
  <mat-toolbar class="mat-elevation-z3" >
    <button (click)="removeServerUrl()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
    <span style="margin: 0; padding: 0" matLine>database::</span>
    <span style="overflow-y: hidden; text-overflow: ellipsis" matLine>[ {{serverUrl}} ]</span>
  </mat-toolbar>

  <div style="display: flex; flex-direction: row">
    <div style="flex-grow: 1">
      <form [formGroup]="form" (submit)="submit()">
        <json-editor  [debug]="false" [options]="editorOptions" formControlName="rules">
        </json-editor>
      </form>
    </div>
  </div>

  <div style="position: fixed;bottom: 73px;left: 30px;">
    <mat-progress-spinner *ngIf="execProgress" style="display: inline-block; position: fixed" mode="indeterminate"
                          diameter="50">

    </mat-progress-spinner>
    <button [disabled]="execProgress" (click)="exec()" mat-icon-button color="primary"
            style="position: absolute; margin: 5px" class="mat-elevation-z3">
      <mat-icon>play_arrow</mat-icon>
    </button>
  </div>
</div>
